.inp {
  width: 100px;
}

.loading::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
}

.error {
  border: 1px solid red;
}
